In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### Get data from openstreetmap

In [2]:
osm_data = pd.read_csv('dataset/OSM.csv')

In [4]:
osm_data.head()

    id_jalan  lanes  maxspeed  surface    highway  lit
0  691007296    3.0        30  asphalt      trunk  yes
1   47010584    NaN        30      NaN    primary  yes
2   22932408    NaN        20      NaN  secondary  yes
3  142479648    3.0        20  asphalt    primary  yes
4    8504977    2.0        30  asphalt    primary  yes

### Karena surface dan lit constant, kita drop saja

In [5]:
osm_data = osm_data.drop(['surface','lit'], axis = 1)

In [6]:
osm_data.head()

    id_jalan  lanes  maxspeed    highway
0  691007296    3.0        30      trunk
1   47010584    NaN        30    primary
2   22932408    NaN        20  secondary
3  142479648    3.0        20    primary
4    8504977    2.0        30    primary

### Export aja karena yg paling penting maxspeednya

In [7]:
osm_data.to_csv(r'dataset/static_data.csv', index=False)