In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [5]:
df_train = pd.read_csv('dataset/train.csv')
df_test = pd.read_csv('dataset/test.csv')

In [6]:
df_train.head()

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan
0,2020-02-01 01:00:00+00:00,691007296,21390008,1425033102,29.126
1,2020-02-01 01:00:00+00:00,47010584,1677092762,579493410,46.576
2,2020-02-01 01:00:00+00:00,22932408,26486694,1930267566,36.587
3,2020-02-01 01:00:00+00:00,142479648,1111592522,3775231113,34.063
4,2020-02-01 01:00:00+00:00,8504977,5940503398,5940503394,38.336

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398648 entries, 0 to 398647
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   waktu_setempat    398648 non-null  object
 1   id_jalan          398648 non-null  int64
 2   id_titik_mulai    398648 non-null  int64
 3   id_titik_akhir    398648 non-null  int64
 4   rerata_kecepatan  398648 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 15.2+ MB

## Timestamp formating

In [8]:
# Slice and format datatime 

df_train['waktu_setempat'] = df_train['waktu_setempat'].str.slice(0, 19)
df_train['waktu_setempat'] = pd.to_datetime(df_train['waktu_setempat'])

df_test['waktu_setempat'] = df_test['waktu_setempat'].str.slice(0, 19)
df_test['waktu_setempat'] = pd.to_datetime(df_test['waktu_setempat'])

In [9]:
df_train.head()

,waktu_setempat,id_jalan,id_titik_mulai,id_titik_akhir,rerata_kecepatan
0,2020-02-01 01:00:00,691007296,21390008,1425033102,29.126
1,2020-02-01 01:00:00,47010584,1677092762,579493410,46.576
2,2020-02-01 01:00:00,22932408,26486694,1930267566,36.587
3,2020-02-01 01:00:00,142479648,1111592522,3775231113,34.063
4,2020-02-01 01:00:00,8504977,5940503398,5940503394,38.336

## External Data Merger